spring:
  profiles:
    active: prod

  servlet:
    multipart:
      max-file-size: ${SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE:10MB}
      max-request-size: ${SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE:10MB}

  datasource:
    url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
    driver-class-name: ${spring.datasource.driver-class-name}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace

upstage:
  api-key: ${UPSTAGE_API_KEY}
  base-url: https://api.upstage.ai/v1
  model: solar-pro2


public:
  api:
    cctv-url: https://api.vworld.kr/req/data
    cctv-key: ${CCTV_API_KEY}
    cctv-domain: ${CCTV_API_DOMAIN}

    emgbell-url: http://safemap.go.kr/openApiService/data/getCmmpoiEmgbellData.do
    emgbell-key: ${EMGBELL_API_KEY}

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}
      region: ${AWS_S3_REGION}
      access-key: ${AWS_ACCESS_KEY_ID}
      secret-key: ${AWS_SECRET_ACCESS_KEY}
      base-url: ${AWS_S3_BASE_URL}
